{{ page.header }}

{% if use_hero %}
<div class="whitebox--hero">
  {{ page.page_title }}
  <p><a href="/nerds">Comedy and stories from the people who stand up and come out as nerds</a></p>
</div>
{% endif %}


<div class="main">
  {% if use_hero %}

    {% set rendered_events = upcoming_events|render %}
    {% set stripped_events = rendered_events|striptags|trim %}
    {% if stripped_events %}
    <div class="main-content whitebox" role="main">
      <h2>Nerds in Real Life</h2>
      {{ rendered_events }}

      {{ stripped_events }}{{ stripped_events }}{{ stripped_events }}{{ stripped_events }}{{ stripped_events }}{{ stripped_events }}{{ stripped_events }}{{ stripped_events }}
    </div>
  {% endif %}{% endif %}

  <div class="main-content whitebox" role="main">
   <a id="main-content"></a>
   {{ page.system }}


	 <div id="content" role="main">

     {% if not use_hero %}
      {# Even paginated homepage shouldn't show title here. @todo, reconsider that. #}
     {% if not is_front %}
       {{ page.page_title }}
     {% endif %}
     {% endif %}
     {{ page.content }}
   </div>
  </div>
</div>
{{ page.footer }}
