{{ page.header }}

{% if use_hero %}
<div class="whitebox--hero">
  {{ page.page_title }}
  <p><a href="/nerds">Comedy and stories from the people who stand up and come out as nerds</a></p>
</div>
{% endif %}


<div class="main">
  <div class="main-content whitebox" role="main">
   <a id="main-content"></a>
   {{ page.system }}


	 <div id="content" role="main">

     {% if not use_hero %}
       {{ page.page_title }}
     {% endif %}
     {{ page.content }}
		</div>
  </div>
</div>
{{ page.footer }}
